name: quant
services:
  postgresql:
    image: timescale/timescaledb:latest-pg17-bitnami
    container_name: quant-postgresql
    restart: unless-stopped
    ports:
      - "${POSTGRESQL_PORT}:5432"
    volumes:
      - ./data/postgresql:/bitnami/postgresql
    environment:
      - POSTGRESQL_PASSWORD=${POSTGRESQL_PASSWORD}
      - POSTGRESQL_DATABASE=${POSTGRESQL_DATABASE}
      - POSTGRESQL_MAX_CONNECTIONS=50 # 控制数据库最大并发连接数，需要根据服务器资源和应用需求设置
      - TZ=Asia/Shanghai # 设置容器时区为中国时区
      - POSTGRESQL_TIMEZONE=Asia/Shanghai # 设置PostgreSQL时区
    env_file:
      - .env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres && PGPASSWORD=${POSTGRESQL_PASSWORD} psql -U postgres -d ${POSTGRESQL_DATABASE} -c 'SELECT 1'" ]
      interval: 5s
      timeout: 5s
      retries: 5