html,
body,
#app {
  height: 100%;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif;
}

html.dark body,
html.dark #app {
  background-color: #101922;
}

::selection {
  background-color: rgba(19, 127, 236, 0.3);
}